<!DOCTYPE html>
<html>

<head>
	<title>Abiola Football Predictor</title>
	<link rel="stylesheet" type="text/css" href="static/style.css">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon_1.ico') }}">

	<!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="static/icomoon/style.css">
  
	<link rel="stylesheet" href="static/bootstrap/bootstrap.css">
	<link rel="stylesheet" href="static/jquery-ui.css">
	<link rel="stylesheet" href="static/owl.carousel.min.css">
	<link rel="stylesheet" href="static/owl.theme.default.min.css">
	<link rel="stylesheet" href="static/owl.theme.default.min.css">
  
	<link rel="stylesheet" href="static/jquery.fancybox.min.css">
  
	<link rel="stylesheet" href="static/bootstrap-datepicker.css">
  
	<link rel="stylesheet" href="static/flaticon/font/flaticon.css">
  
	<link rel="stylesheet" href="static/aos.css">
  
	<link rel="stylesheet" href="static/style.css">
	<link rel="stylesheet" href="static/progress.css">
  

</head>
<body>
	<!--


	<div class='container'>

		<div class='media_links'>

			<a href="https://www.linkedin.com/in/matthewhaythornthwaite/">
				<img class='linkedin' src="/static/images/Linkedin_logo_b.png">
			</a>

			<a href="https://github.com/mhaythornthwaite/Football_Prediction_Project">
			    <img class='github' src="/static/images/Github_logo.png">
			</a>
		</div>

		<div class='web_logo_container'>
			<img class='web_logo' src="/static/images/Smart_Football_Predictor-logo.png">
		</div>

		<div class='web_description'>Smart Football Predictor is a simple Flask web application designed to display machine learning predictions built in a python backend. Premier league game data has been collected from api-football, processed and used to train numerous experimental models, before being used to predict the outcome of future premier league fixtures. If you would like to learn more, please visit my Github repository or contact me on linkedin.</div>

		<br> <hr class="line" width='65%'>
				
		{% for n in iterator %}
		<div class='game'>
			<div class='teamheading'>
			    <div class='heading1'>{{pl_pred['Home Team'][n]}}</div>
			    <div class='heading2'>{{pl_pred['Away Team'][n]}}</div>
			    <div class='game_description'> Date: {{pl_pred['Game Date'][n]}} &nbsp Venue: {{pl_pred['Venue'][n]}} </div>	    
			</div>
            <div class='collapsible_heading'>
              <button type="button" class="collapsible"> <img class='dropdown_img' src='/static/images/dropdown_arrow.png'> Form </button>

                <div class="content">

	                {% for i in iterator2 %}	
	                <div class='past_perform_home'>

	                	<div class='past_perform_result'>
		                	<b>{{additional_stats_dict[pl_pred['Home Team ID'][n]]['Result'].iloc[i]}}</b>
		                </div>

		                {{additional_stats_dict[pl_pred['Home Team ID'][n]]['Home_Team'].iloc[i]}} {{additional_stats_dict[pl_pred['Home Team ID'][n]]['Home_Team_Score'].iloc[i]|int}} - {{additional_stats_dict[pl_pred['Home Team ID'][n]]['Away_Team_Score'].iloc[i]|int}} {{additional_stats_dict[pl_pred['Home Team ID'][n]]['Away_Team'].iloc[i]}} 
		                <br>
		            </div>
	                

	                <div class='past_perform_away'>

		                {{additional_stats_dict[pl_pred['Away Team ID'][n]]['Home_Team'].iloc[i]}} {{additional_stats_dict[pl_pred['Away Team ID'][n]]['Home_Team_Score'].iloc[i]|int}} - {{additional_stats_dict[pl_pred['Away Team ID'][n]]['Away_Team_Score'].iloc[i]|int}} {{additional_stats_dict[pl_pred['Away Team ID'][n]]['Away_Team'].iloc[i]}} 

		                <div class='past_perform_result'>
		                	<b>{{additional_stats_dict[pl_pred['Away Team ID'][n]]['Result'].iloc[i]}}</b>
		                </div>

		                <br>
		            </div>
	                {% endfor %}                

                </div>
            </div>
            	<div class='game_probability'>
					<div class='logo_home'>
						<a> 
							<img class='logo_png' src={{pl_pred['Home Team Logo'][n]}}> 
						</a>
		            </div>
					<section class='probability_annot'>
			    		<div class="win" style="width: calc({{pl_pred['Home Win'][n]}}% - 2px)">{{pl_pred['Home Win'][n]}}%</div>
			    		<div class="draw" style="width: calc({{pl_pred['Draw'][n]}}% - 2px)">{{pl_pred['Draw'][n]}}%</div>
			    		<div class="loss" style="width: calc({{pl_pred['Away Win'][n]}}% - 2px)">{{pl_pred['Away Win'][n]}}%</div>
					</section>
					<div class='logo_away'>
						<a> 
							<img class='logo_png' src={{pl_pred['Away Team Logo'][n]}}> 
						</a>
			    </div>
            </div>
		</div>
		{% endfor %}
	</div> 
	-->
	<div class="site-wrap">

		<div class="site-mobile-menu site-navbar-target">
		  <div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close">
			  <span class="icon-close2 js-menu-toggle"></span>
			</div>
		  </div>
		  <div class="site-mobile-menu-body"></div>
		</div>
	
	
		<header class="site-navbar py-4" role="banner">
	
		  <div class="container">
			<div class="d-flex align-items-center">
			  <div class="site-logo">
				<a href="index.html">
				  <img src="static/images/logo.png" alt="Logo">
				</a>
			  </div>
			  <div class="ml-auto">
				<nav class="site-navigation position-relative text-right" role="navigation">
				  <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
					<li><a href="index.html" class="nav-link">Home</a></li>
					<li class="active"><a href="matches.html" class="nav-link">Matches</a></li>
					<li><a href="players.html" class="nav-link">Players</a></li>
					<li><a href="blog.html" class="nav-link">Blog</a></li>
					<li><a href="contact.html" class="nav-link">Contact</a></li>
				  </ul>
				</nav>
	
				<a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right text-white"><span
					class="icon-menu h3 text-white"></span></a>
			  </div>
			</div>
		  </div>
	
		</header>
	
		<div class="hero overlay" style="background-image: url('static/images/bg_3.jpg');">
		  <div class="container">
			<div class="row align-items-center">
			  <div class="col-lg-5 mx-auto text-center">
				<h1 class="text-white">Matches</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, molestias repudiandae pariatur.</p>
			  </div>
			</div>sta
		  </div>
		</div>
	
		
		
	<div class="site-section bg-dark">
		<div class="container">
		  
		  <div class="row mb-5">
			{% for n in iterator %}
			<div class="col-lg-12">
			  <div class="widget-next-match">
				<div class="widget-title">
				  <h3>Upcoming Match</h3>
				</div>
				<div class="widget-body mb-3">
				  <div class="widget-vs">
					<div class="d-flex align-items-center justify-content-around justify-content-between w-100">
					  <div class="team-1 text-center">
						<img src={{pl_pred['Home Team Logo'][n]}} alt="Image">
						<h3>{{pl_pred['Home Team'][n]}}</h3>
					  </div>
					  <div>
						<span class="vs"><span>VS</span></span>
					  </div>
					  <div class="team-2 text-center">
						<img src={{pl_pred['Away Team Logo'][n]}} alt="Image">
						<h3>{{pl_pred['Away Team'][n]}}</h3>
					  </div>
					</div>
				  </div>
				</div>
				
  
				<div class="text-center widget-vs-contents mb-4">
				  <h4>PremierLeague</h4>
				  <p class="mb-5">
					<span class="d-block">{{pl_pred['Game Date'][n]}}</span>
					
					<strong class="text-primary">{{pl_pred['Venue'][n]}}</strong>
					  <h4>Odds</h4>
					     {% set home_win = pl_pred['Home Win'][n] %}
        {% set away_win = pl_pred['Away Win'][n] %}
        {% set win_diff = home_win - away_win %}
        <div>
        {% if win_diff <= 10 and 
              (home_win >= 40 and home_win <= 49) %}
            <p class="text-center widget-vs-contents mb-4" style="color: white">over 1.5 and over 0.5</p>
        {% elif (home_win >= 40 and home_win <= 49) or
                 (away_win >= 40 and away_win <= 49) %}
            <p class="text-center widget-vs-contents mb-4" style="color: white">Under 5.5 or Under 4.5 or Over 0.5</p>
        {% elif (home_win >= 50 and home_win <= 59) %}
            <p class="text-center widget-vs-contents mb-4" style="color: white">Win_or_draw</p>
            <p class="text-center widget-vs-contents mb-4" style="color: white">over 1.5 and over 0.5</p>
        {% elif (away_win >= 50 and away_win <= 59) %}
            <p class="text-center widget-vs-contents mb-4" style="color: white">with_or_Draw</p>
        {% elif (home_win > 60 or away_win > 60) %}
            <p class="text-center widget-vs-contents mb-4"  style="color: white">Win or Win_or_Draw</p>
        {% endif %}
				  </p>
					<section class='probability_annot'>
						<div class="win" style="width: calc({{pl_pred['Home Win'][n]}}% - 2px)">
							<p style="margin-top: 6px; color: white">{{pl_pred['Home Win'][n]}}%
							</p>
							</div>
						<div class="draw" style="width: calc({{pl_pred['Draw'][n]}}% - 2px)">
							<p  style="margin-top: 6px; color: white">{{pl_pred['Draw'][n]}}%
							</p>
							</div>
						<div class="loss" style="width: calc({{pl_pred['Away Win'][n]}}% - 2px)">
							<p  style="margin-top: 6px; color: white">{{pl_pred['Away Win'][n]}}%
							</p>
							</div>
					</section>
					  
   
  </div>
	
		
				</div>
			  </div>
			</div>
			{% endfor %}
		  </div>
  
		 
			</div>
			
		  </div>
		</div>
	  </div> <!-- .site-section -->
  
	 
		  </div>
  
		  <div class="row text-center">
			<div class="col-md-12">
			  <div class=" pt-5">
				<p>
				  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				  Copyright &copy;
				  <script>
					document.write(new Date().getFullYear());
				  </script> All rights reserved | This template is made with <i class="icon-heart"
					aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
				  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</p>
			  </div>
			</div>
  
		  </div>
		</div>
	  </footer>
  
  
  
	</div>
<script type="text/javascript" src="static/script.js"></script>
<script src="static/jquery-3.3.1.min.js"></script>
<script src="static/jquery-migrate-3.0.1.min.js"></script>
<script src="static/jquery-ui.js"></script>
<script src="static/popper.min.js"></script>
<script src="static/bootstrap.min.js"></script>
<script src="static/owl.carousel.min.js"></script>
<script src="static/jquery.stellar.min.js"></script>
<script src="static/jquery.countdown.min.js"></script>
<script src="static/bootstrap-datepicker.min.js"></script>
<script src="static/jquery.easing.1.3.js"></script>
<script src="static/aos.js"></script>
<script src="static/jquery.fancybox.min.js"></script>
<script src="static/jquery.sticky.js"></script>
<script src="static/jquery.mb.YTPlayer.min.js"></script>


<script src="static/main.js"></script>

</body>
</html>


